<div class="main-container">
  <fountain-header></fountain-header>
  <main class="main">
    <div class="defaults-container">
      <h2 class="defaults-h2">
        Confirmations:
      </h2>
      <button type="button" class="btn btn-default" ng-click="create('booking accepted!!!')">Confirm Booking</button>
      <div class="defaults">
        <fountain-confirmation ng-repeat="confirmation in $ctrl.confirmations" confirmation="confirmation"></fountain-confirmation>
      </div>
    </div>
  </main>
  <fountain-footer></fountain-footer>
</div>
