<div class="main-container">
  <fountain-header></fountain-header>
  <main class="main">
    <div class="defaults-container">
      <h2 class="defaults-h2">
        Directions:
      </h2>
      <button type="button" class="btn btn-default" ng-click="create('directions generated!!!')">Generate Directions</button>
      <div class="defaults">
        <fountain-direction ng-repeat="direction in $ctrl.directions" direction="direction"></fountain-direction>
      </div>
    </div>
  </main>
  <fountain-footer></fountain-footer>
</div>
