<div class="main-container">
  <fountain-header></fountain-header>
  <main class="main">
    <fountain-title></fountain-title>
    <input type="email" ng-model="email" class="form-control" placeholder="Email Address" required autofocus>
    <input type="password" ng-model="password" class="form-control" placeholder="Password" required>
    <row>
      <button type="button" class="btn btn-default" ng-click="login(email, password)">Log in</button>
      <button type="button" class="btn btn-default" ng-click="register(email, password)">Register</button>
    </row>
  </main>
  <fountain-footer></fountain-footer>
</div>
