<div class="main-container">
  <fountain-header></fountain-header>
  <main class="main">
    <div class="image ">
      <img src="http://i.huffpost.com/gen/1788533/images/o-SINGLE-MOTHER-facebook.jpg" alt="" />
      <h1 class="sign">
        <div ng-show="loading==true||retrying==true" class="loading-pulse"></div>
        <div ng-hide="loading==true||retrying==true">
          Our mission is to assist homeless because zombies. <br>
          <form name="form">
          <input name="email" type="email" ng-model="email" class="form-control" placeholder="Email Address" required autofocus>
          <input name="pass" type="password" ng-model="password" class="form-control" placeholder="Password" required>
          </form>
          <div class="row">
            <button ng-disabled="!form.email.$valid || !form.pass.$valid" type="button" class="btn btn-default" ng-click="login(email, password)">Log in</button>
            <button ng-disabled="!form.email.$valid || !form.pass.$valid" type="button" class="btn btn-default" ng-click="register(email, password)">Register</button>
          </div>
        </div>
        <div ng-show="retrying==true&&loading==false">
          <p>It looks like GlobalHack needs more bandwidth, I'll keep trying...</p>
        </div>
        <div ng-show="retryingagain==true&&loading==false">
          <p>¯\_(ツ)_/¯</p>
        </div>
      </h1>
    </div>
  </main>
  <fountain-footer></fountain-footer>
</div>
